﻿<nav data-bind="with: headerViewModel" id="navHead" class="navbar navbar-nav navbar-brand navbar-expand-lg navbar-dark bg-dark" style="margin:0px;">
    <ul id="menuHeader" class="nav navbar-nav navbar-bar ml-auto">
        <li class="nav-item"><a class="nav-link" id="homeBtn">Home</a></li>
        <li class="nav-item"><a class="nav-link" id="salesOrderBtn">Sales Order</a></li>
        <li class="nav-item"><a class="nav-link" id="fabricBtn">Fabric</a></li>
        <li class="nav-item"><a class="nav-link" id="stampBtn">Stamp</a></li>
        <li class="nav-item"><a class="nav-link" id="logoutBtn">Logout</a></li>
    </ul>
</nav>

<script src="javascripts/_partial/_header.js"></script>